<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper">
	<select id="appUserCheck" resultType="user.dto.AppUserDTO">
		select * from mst_user_info_tb
		where user_email=#{user_email} and user_type='nomal'
	</select>
	
	<insert id="appJoin">
		insert into MST_USER_INFO_TB(user_email, user_pw, user_nm, user_addr, user_phone_no)
		values(#{user_email},#{user_pw},#{user_nm},#{user_addr},#{user_phone_no})
	</insert>
	
	<select id="appLogin" resultType="user.dto.AppUserDTO">
		select * from MST_USER_INFO_TB
		where user_email = #{user_email} and user_pw = #{user_pw}
	</select>
	
	<update id="userInfoModify">
	   update MST_USER_INFO_TB
        set   user_pw = #{user_pw},
            user_nm = #{user_nm},
            user_addr = #{user_addr},
            user_pro_img = #{user_pro_img},
            user_phone_no = #{user_phone_no}
        where user_email = #{user_email}
	</update>
	
</mapper>