@charset "UTF-8";
#detail {float: left;}
#content_detail { border:1px solid #ccc; padding:10px; margin-top: 10px;}
div > img {
	height: 49.5%; min-width: 49.5%;
	-webkit-transform: translate(-13%, 0px);
	-ms-transform: translate(-13%, 0px);
	transform: translate(-13%, 0px);
}
.detail_input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 0px;
	border-collapse: collapse;
	outline: none;
	background: none;
	border-bottom: 1px solid #ccc;
	font-size: 1.2rem;
	transition: 0.25s;
}
.detail_input:focus {
	border-bottom: 2px solid black;
	font-weight: bold;
}
#filter_type {
	overflow:hidden; width: 100%;
	margin:0 auto; padding:0;
}
#filter_type li {
	display: inline-block;
	float: left;
	width: calc(100% / 8);
	height: 60px;
	line-height: 57px;
	transition: 0.25s;
	font-size: 0.75rem;
	cursor: pointer;
}
#filter_type li:hover {
	background-color: #ccc;
}
#filter_type li.active {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}
.btnSet a {
	padding-left: 64px;
	padding-right: 64px;
}