@charset "UTF-8";
.container {width: 100%;}
.view {width: 49.5%; margin-bottom: 30px; float: left; }

input[type="checkbox"], input[type="radio"] {display: none;}
#content_items {margin-top: 10px; overflow-y: scroll; height: 650px;}
#content_search {width: 80%; float: left;}
#btn_content_search {width: 18%; float: right; box-shadow: 0 0 0;}
.content_list {
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
	background-color: #ccc;
	cursor: pointer;
}
.content_list:last-child {margin-bottom: 0px;}
.content_list p {display: inline-block;}
.content_list p:first-child {width: 40%; font-size: 1.3rem;}
.content_list p:last-child {width: 58%;}