<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="frige.mapper">
	<select id="frige_list" resultType="frige.FrigeVO">
		SELECT * FROM APP_FRIGE_CONTENTS_LIST_TB WHERE user_id = #{user_id}
		ORDER BY shelf_life_end
	</select>
	
	<select id="frige_detail" resultType="frige.FrigeVO">
		SELECT * FROM APP_FRIGE_CONTENTS_LIST_TB WHERE content_list_id = #{content_list_id}
	</select>
	
	<update id="frige_update">
		UPDATE APP_FRIGE_CONTENTS_LIST_TB SET 
		content_nm = #{content_nm}, content_ty = #{content_ty}, 
		shelf_life_end = #{shelf_life_end}, content_check = 1 
		WHERE content_list_id = #{content_list_id}
	</update>
	
	<delete id="frige_delete">
		DELETE FROM APP_FRIGE_CONTENTS_LIST_TB WHERE content_list_id = #{content_list_id}
	</delete>
	
	<sql id="search_where">
		WHERE content_nm LIKE '%' || ${keyword} || '%'
	</sql>
</mapper>