<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mapper">
	<sql id="select_type">
		<!-- 일반 로그인시 -->
		<if test="user_type==null">
			where user_email = #{user_email} and user_pw = #{user_pw} and user_type='nomal'
		</if>
		<!-- 소셜로그인시 -->
		<if test="user_type != null">
			where user_id = #{user_id} and user_type = #{user_type}
		</if>
	</sql>
	
	<select id="login" resultType="member.MemberVO">
		SELECT * FROM MST_USER_INFO_TB <include refid="select_type"/>
	</select>
	
	<select id="email_check" resultType="integer">
		SELECT COUNT(*) FROM MST_USER_INFO_TB WHERE user_email = #{user_email}
	</select>
	
	<select id="numbering" resultType="long">
		select max(user_id) from MST_USER_INFO_TB
		where user_type = 'nomal'
	</select>
	
	<insert id="join">
		INSERT INTO MST_USER_INFO_TB (user_id, user_email, user_pw, user_nm) 
		VALUES(#{user_id}, #{user_email}, #{user_pw}, #{user_nm})
	</insert>
	
	<select id="social_id" resultType="integer">
		SELECT COUNT(*) FROM MST_USER_INFO_TB WHERE user_email = #{user_email}
	</select>
	
	<insert id="social_join">
		INSERT INTO MST_USER_INFO_TB (user_id, user_email, user_nm, user_type)
		VALUES(#{user_id}, #{user_email}, #{user_nm}, #{user_type})
	</insert>
	
	<select id="member_select">
		SELECT * FROM MST_USER_INFO_TB WHERE user_id = #{user_id}
	</select>
	
	<update id="member_update">
		UPDATE MST_USER_INFO_TB SET 
		user_email = #{user_email}, user_pw = #{user_pw}, user_nm = #{user_nm} 
		WHERE user_id = #{user_id}
	</update>
	
	<delete id="member_delete">
		DELETE FROM MST_USER_INFO_TB WHERE user_id = #{user_id}
	</delete>
</mapper>