<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna.mapper">

<insert id="reply_insert">
{	
call declare begin	
	<![CDATA[
	update mst_board_tb set step = step+1 where root = #{root} and step > #{step};
	]]>

	insert into mst_board_tb ( board_gp, user_id, board_title, board_content, filename, filepath, root, step, indent )
	values ( 2, #{user_id}, #{board_title}, #{board_content}, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR}
			, #{root}, #{step} + 1, #{indent} + 1 );
end	
}	
</insert>

<select id="gethome" resultType="common.BoardVO">
	<![CDATA[
	select * from (select rownum no, b.*, ( select user_nm from mst_user_info_tb u where b.user_id=u.user_id ) name
	from (select * from mst_board_tb where board_gp = 2 order by board_no) b 
	order by no desc)
	ORDER BY no DESC
	]]>
</select>

<update id="read">
	update mst_board_tb set board_readcount = board_readcount+1 where board_no=#{board_no}
</update>

<delete id="delete">
	delete from mst_board_tb where board_no = #{board_no}
</delete>

<update id="update">
	update mst_board_tb set board_title = #{board_title}, board_content = #{board_content}
					, filename = #{filename, jdbcType=VARCHAR}
					, filepath = #{filepath, jdbcType=VARCHAR}
	where board_no = #{board_no}
</update>

<select id="view" resultType="common.BoardVO">
	select b.*, ( select user_nm from mst_user_info_tb u where b.user_id=u.user_id ) name
	from (select * from mst_board_tb where board_gp = 2) b
	where board_no = #{board_no}
</select>

<insert id="insert">
	insert into mst_board_tb( board_gp, root, user_id,  board_title, board_content, user_type, filename, filepath )
	values( 2, MST_BOARD_TB_SEQ.currval, #{user_id}, #{board_title}, #{board_content}, 'nomal', #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR} )
</insert>

<select id="totalList" resultType="integer">
	select count(*) from mst_board_tb where board_gp = 2
</select>

<select id="list" resultType="common.BoardVO">
	select * from (select rownum no, b.*, ( select user_nm from mst_user_info_tb u where b.user_id=u.user_id ) name
	from (select * from mst_board_tb where board_gp = 2 order by board_no) b 
	order by no desc)
	where no between #{beginList} and #{endList}
</select>

</mapper>
