<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipe.mapper">
	<select id="recipeInfo" resultType="수정요망">
		select * from APP_RECIPE_INFO_TB
	</select>
	
	<select id="recipeInfoMf" resultType="수정요망">
		SELECT * FROM app_recipe_info_tb
		WHERE recipe_id = TRUNC(DBMS_RANDOM.VALUE(1,500))
	</select>
</mapper>