<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper">
	<select id="list" resultType="board.dto.BoardDTO">
		select * from ( select rownum no, b.*, ( select user_nm from mst_user_info_tb u where b.user_id=u.user_id ) name
		from ( select * from ( select * from mst_board_tb where board_gp = 1 ) order by board_no ) b 
		order by no desc )
	</select>
</mapper>